<html>
    <head>
        <title>Pinchi Blog</title>
    </head>
    <body>
       
    	<div id="conentwrapper">
    		<div id="main">
    		<h1> El blog del Feibian </h1>
    		<p>Pos este es el blog del feibian echo con Django, aca todo fine. Si gustan dejar sus criticas pero antes intenten superarme jaja Saludos</p>

	    		<div id="posts">

	    		{% for post in posts %}

	    		<h2><a href=""> </a> {{ post.title }} </h2>
	    		<p>Publicado en: {{ post.published_date }} </p>
	    		<p>{{ post.text|linebreaks }}</p>

				{% endfor %}
				</div>

				<div id="botones">
					<input type="button" value='Crear Nueva Entrada' />
				</div>

				<p>akjehfkajsnd</p>
			</div>
		</div>
    </body>
</html>