<html>
    <head>
        <title>Pinchi Blog</title>
    </head>
    <body>
       
    	<div id="conentwrapper">
    		<div id="main">
    		<h1> El blog del Feibian </h1>
    		<p>Pos este es el blog del feibian echo con Django, aca todo fine. Si gustan dejar sus criticas pero antes intenten superarme jaja Saludos</p>

	    		<div id="posts">

	    		<h2><a href=""> </a> Entrada 1 </h2>
	    		<p>Publicado en: </p>
	    		<p>Contenido de la entrada 1</p>

	    		<h2><a href=""> </a> Entrada 2 </h2>
	    		<p>Publicado en: </p>
	    		<p>Contenido de la entrada 2</p>

				<h2><a href=""> </a> Entrada 3 </h2>
				<p>Publicado en: </p>
				<p>Contenido de la entrada 3</p>

				</div>

			</div>
		</div>
    </body>
</html>